---
import Base from "@/layouts/base.astro";

import { getCollection } from "astro:content";

import NewsThumbnail from "@/components/NewsThumbnail.astro";
import NewsThumbnailTwo from "@/components/NewsThumbnailTwo.astro";
import NewsThumbnailThree from "@/components/NewsThumbnailThree.astro";
import PostListItemTwo from "@/components/PostListItemTwo.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import ArticleHeader from "@/components/ArticleHeader.astro";

// Content
// List Berita
const allBeritaPosts = await getCollection("berita");
const beritaPosts = allBeritaPosts.sort(
    (a, b) => b.data.postDate.getTime() - a.data.postDate.getTime(),
);
const latestBeritaPost = beritaPosts.slice(0, 3);
const threeLastBeritaPosts = beritaPosts.slice(1, 4);

// List Pengumuman
const allPengumumanPosts = await getCollection("pengumuman");
const pengumumanPosts = allPengumumanPosts.sort(
    (a, b) => b.data.postDate.getTime() - a.data.postDate.getTime(),
);
const pengumumanLastest = pengumumanPosts.slice(0, 6);

// List Artikel
const allArtikelPosts = await getCollection("artikel");
const artikelPosts = allArtikelPosts.sort(
    (a, b) => b.data.postDate.getTime() - a.data.postDate.getTime(),
);
const latestArticlePost = artikelPosts.slice(0, 1);
const threeLastArticlePosts = artikelPosts.slice(1, 4);

// List Gallery
const allGaleriPosts = await getCollection("galeri"); // List photo
const galeriPosts = allGaleriPosts.sort(
    (a, b) => b.data.postDate.getTime() - a.data.postDate.getTime(),
);
const lastGaleri = galeriPosts.slice(0, 3);

const newsThumbSize = (position: number) =>
    position === 0
        ? "col-span-2 row-span-2 col-start-2 row-start-1 lg:border-l lg:pl-4 mb-8 border-b pb-6 lg:pb-0 lg:border-b-0"
        : "col-start-1 mb-6 border-b lg:pb-0 lg:border-b-0";

const articleLayout = (position: number) =>
    position === 0
        ? "col-span-3  border-b lg:border-b-0 pb-4 lg:pb-8"
        : "col-span-1 border-b lg:border-b-0 lg:border-r last:border-0  py-4 lg:pb-8 lg:px-4";
---

<Base title="Beranda">
    <div class="container lg:flex gap-4">
        <div class="lg:w-3/4">
            <SectionTitle title="berita terkini" href="/berita/" />
            <ul
                class="lg:grid grid-cols-3 grid-rows-1 grid-flow-col-dense gap-4"
            >
                {
                    latestBeritaPost.map((post, idx) => (
                        <li class={newsThumbSize(idx)}>
                            <NewsThumbnailTwo
                                title={post.data.title}
                                image={post.data.image}
                                summary={idx === 0 ? post.data.summary : undefined}
                                href={`/berita/${post.slug}`}
                                headline={idx === 0 }
                                postDate={post.data.postDate}
                            />
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="border-l"></div>
        <div class="lg:w-1/4">
            <SectionTitle title="pengumuman" href="/pengumuman/" />
            <ul>
                {
                    pengumumanLastest.map((post, idx) => (
                        <li class="border-b mb-4 last:border-0">
                            <div>
                                <PostListItemTwo
                                    title={post.data.title}
                                    image={post.data.image}
                                    href={`/pengumuman/${post.slug}`}
                                    size="sm"
                                />
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <div class="container border-t">
        <SectionTitle title="Artikel" href="/artikel/" />
        <ul class="lg:grid grid-cols-3 grid-rows-1">
            {
                artikelPosts.map((post, idx) => (
                    <li class={articleLayout(idx)}>
                        <ArticleHeader
                            title={post.data.title}
                            postDate={post.data.postDate}
                            author={post.data.author}
                            summary={idx === 0 ? post.data.summary : undefined}
                            href={post.slug}
                            size={idx === 0 ? "lg" : "normal"}
                        />
                    </li>
                ))
            }
        </ul>
    </div>
</Base>
